
body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    max-width: 100%;
}
.section-margin {
    width: 70%;
    margin-right: 0;
    margin-right: auto;
    margin-left: auto;
}
.header {
    padding: 2rem 8rem 1rem 8rem;
}

.navigation a {
    text-decoration: none;
    color: #777;
}
.navigation a:hover {
    color: rgb(252, 67, 67);
}
.navigation {
    float: right;
}
.logo {
    float: left;
    height: 2rem;
    transform: translateX(5rem);
}
.navigation li {
    list-style: none;
    float: left;
    margin-right: 1rem;
    font-size: .8rem;
}
.fix {
    clear: both;
}

.man {
    margin: 0 auto;
    width: 30%;
    margin-top: 3rem;
    float: left;
}
.story {
    width: 40%;
    line-height: .5rem;
    float: right;
    margin: 2rem 0;
    margin-top: 5rem;
}
.story h3 {
    font-weight: 200;
    font-size: 1.2rem;
}
.story h2 {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.paragraph {
    line-height: 1rem;
    color: #777;
    font-size: .7rem;
    margin-bottom: 2rem; 
}

.story-link {
    margin: 3rem .5rem 1rem 0;
    text-decoration: none;
    color: white;
    background-color: rgb(252, 67, 67); 
    padding: .5rem 1rem;
    font-size: .6rem;
    border-radius: 2px;
}
.about {
    padding: 2rem 0;
    background-color: rgb(247, 243, 243);
}
.about p {
    font-size: 1rem;
}
.section-heading {
    text-align: center;
    margin-bottom: 1rem;
}
.my-cv {
    float: left;
    width: 45%;
    padding-right: 3rem;
}
.contact {
    float: right;
    width: 45%;
}
.skill {
    padding: 2rem 0;
    box-sizing: border-box;
}

.grade {
    margin-bottom: 2rem;
    height: .3rem;
    margin-top: .5rem;
    box-sizing: border-box;
}
.grade:nth-child(1) { background-image: linear-gradient(to right, rgb(252, 67, 67) 70%, rgb(222, 243, 242) 70%);}
.grade:nth-child(2) { background-image: linear-gradient(to right, rgb(252, 67, 67) 80%, rgb(222, 243, 242) 80%);}
.grade:nth-child(3) { background-image: linear-g radient(to right, rgb(252, 67, 67) 60%, rgb(222, 243, 242) 60%);}

.grade-2 {
    margin-bottom: 2rem;
    height: .3rem;
    margin-top: .5rem;
}
.grade-2:nth-child(1) { background-image: linear-gradient(to right, rgb(252, 67, 67) 90%, rgb(222, 243, 242) 90%);}
.grade-2:nth-child(2) { background-image: linear-gradient(to right, rgb(252, 67, 67) 65%, rgb(222, 243, 242) 65%);}
.grade-2:nth-child(3) { background-image: linear-gradient(to right, rgb(252, 67, 67) 85%, rgb(222, 243, 242) 85%);}

.my-services {
    padding: 2rem 0;
    background-color: rgb(247, 243, 243); 
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-gap: 2rem;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 1rem;
}

.web-design {
    background-color: white;
    padding: .5rem;
    text-align: center;    
}
.box-head {
    font-weight: 50;
    font-size: .7rem;
    margin-bottom: .02rem;
}
.web-design .paragraph {
    color: rgb(189, 185, 185);
}
.port-nav {
    margin: 2rem;
}
.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-head {
    font-weight: 50;
    font-size: .7rem;
    margin-bottom: .02rem;
}
.web-design .paragraph {
    color: rgb(189, 185, 185);
}
.port-nav {
    margin: 2rem;
}
.port-nav li {
    list-style: none;
    float: left;
    margin-right: 1rem;
}
.port-nav a {
    color: rgb(187, 185, 185);
    padding: .4rem .8rem;
    border: .5px solid rgb(188, 250, 229);
    border-top: none;
    font-size: .7rem;
    text-decoration: none;
    transition: all .5s;
}
.port-nav a:hover {
    color: white;
    background-color:  rgb(252, 67, 67);
}
.mag {
    padding: 2rem 0;
}
.portfolio {
    text-align: center;
}

.hire-me {
    background-color: rgb(247, 243, 243);
    text-align: center;
    padding: 2.5rem;
}

.bold {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.client {
    text-align: center;
    padding: 2rem 5rem;
}
.client-img {
    border: 1px solid rgb(201, 243, 229);
    border-radius: 50%;
}
.client-head {
    font-size: .6rem;
    color: rgb(212, 206, 206);
    margin-top: .2rem;
    margin-bottom: .3rem;
}
.client-name {
    color: rgb(252, 67, 67); 
    font-size: .8rem;
    margin-bottom: .5rem;
}
.paragraph-small {
    font-size: .6rem;
    color: rgb(212, 206, 206);
    padding: 0 16rem;
}
.star {
    transform: scale(.15) translateX(4.5rem) translateY(-20rem);
}
.my-blog {
    background-color: rgb(247, 243, 243);
    padding: 2rem 0;
    text-align: center;
}
.box-h {
    text-align: left;
    margin-top: .4rem;
    margin-bottom: .2rem;
}
.sep {
    text-align: left;
    margin-top: .4rem;
    margin-bottom: .2rem;
}
.blog-img {
    width: 100%;
    padding: -5rem;
    margin: 0 -5rem;
}
.design {
    width: 30%;
    background-color: white;
    float: left;
    margin: .5rem;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 1.5rem;
}
.pad {
    padding: 0 .5rem 1rem .5rem;
}
.blog-date {
    font-size: .6rem;
    text-align: left;
    color: rgb(61, 60, 60);
}

.contact-me {
    padding: 2rem 15rem;
}
.input {
    border: none;
    border: 1px solid rgb(203, 245, 230);
    padding: .5rem 0 .5rem .5rem;
    border-radius: 3px;
    color: rgb(182, 178, 178);
    margin-bottom: 1rem;
}
.form {
    max-width: 80rem;
}
.first-form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: .5rem;
}
.input-2 {
    width: 100%;
}

.textarea {
   width: 100%;
   height: 7rem;
}
.footer {
    background-color: rgb(68, 67, 67);
    font-size: .5rem;
    color: rgb(204, 203, 203);
    text-align: center;
    padding: .5rem;
    margin-top: 2rem;
}
.icon {
    color: rgb(247, 74, 74);
}

.cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.card {
    background-color: #fff;
    
}

.port-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
    grid-gap: 1rem;
}
.img {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 700px) {
    body {
        font-size: 100%;
        float: none;
        text-align: center;
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .navigation {
        margin:  0;
        padding:  0;
        display: block;
    }
    .navigation li {
        margin: 0;
        padding: 0;
        margin-right: 1.5rem;
        display: inline-block;
        font-size: 1.2rem;
    }
    .header {
        padding: 0;
        margin: 0;
        margin-top: 1rem;
    }
    .logo {
        border-left: 1px solid rgba(245, 104, 104, 0.596);
        border-right: 1px solid rgba(245, 104, 104, 0.596);
        padding: 0 1rem;
    }
    .first {
        padding: 2rem;
    }
    .man {
        width: 100%;
        padding: 0;
        margin-bottom: 2rem;
        margin: 0;
    }
    .story {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .about {
        padding: 0;
        margin: 0;
        padding: 1rem;
    }
    .skill {
        margin: 0;
        padding: 0;
        float: none;
        width: 90%;
        padding: 1rem;
    }
    .my-cv {
        float: none;
        width: 100%;
    }
    .input {
        margin: 0;
        padding: 0;
        width: 100%;
        margin: 0;
        padding: -1rem;;
        margin-bottom: .5rem;
        margin-left: .2rem;
        padding: .5rem;
    }
    .contact {
        float: none;
        width: 100%;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        align-items: center;
        justify-items: center;
        align-content: center;
        padding: 1rem;
    }
    .portfolio {
        margin: 0;
        padding: 0;
        float: none;
    }
    .por-img {
        width: 100%;
        float: none;
    }
    .port-nav {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    .mag {
        margin: 0;
        padding: 0;
    }
    .section-margin {
        
        width: 100%;
        margin-right: 0;
        margin-right: auto;
        margin-left: auto;
      
    }
    .my-blog {
        margin: 0;
        padding: 0;
        padding: 2rem;
        font-size: 1rem;
    }
    .my-services {
        margin: 0;
        padding: 0;
        padding: 2rem 0;
    }
    .content {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
    }
    .top {
        margin: 0;
        padding: 0;
        padding: 1rem;
    }
    .bottom {
        padding: 1rem;
    }
    .web-design {
        margin: 0;
        padding: 0;
        padding: 1rem;
    }
    .design {
        margin: 0;
        padding: 0;
        margin-bottom: .5rem;
    }
    .design p {
        font-size: 1rem;
    }
    .contact-me {
        width: 90%;
        padding: 0;
        margin: 0;
    }
    .form {
        width: 90%;
    }
    .paragraph-small {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: left;
    }
    .star {
        display: none;
    }
    .port-nav {
        transform: translate(0);
        padding: 0;
    }
    .port-nav li {
        margin-right: .2rem;
    }
    
    .first {
        padding: 0;
        margin: 0;
        padding-bottom: 2rem;
    }

    .port-img {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: .4rem;
        grid-gap: .3rem;
    }
    .head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    
}
@media screen and (max-width: 500px) {
    .navigation ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
    }
    .nav-contact {
        grid-column: 2 / 3;
    }
}
.header .head .navigation ul .home {
    color: rgb(247, 74, 74);
}
.port-nav .all {
    background-color: rgb(247, 74, 74);
    color: white;
}
